.container {
    padding: 16px;
    background-color: white;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 5px;
}

.registerbtn {
    background-color: lightsalmon;
    color: white;
    padding: 26px 20px;
    margin: 80px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

a {
    color: dodgerblue;
}

.signin {
    background-color: salmon;
    border: 1px solid black;
    font-size: 80px;
    margin: 117px;
    padding: 26px 20px;
    text-align: center;
}

.container p {
    font-size: 20px;
}

label {
    color: blueviolet;
    font-family: cursive;
    text-align: center;
}