.container {
    background-color: transparent;
}

#content {
    height: 50px;
    width: 70px;
    background-color: transparent;
    border: 3px solid black;
}

#myCarousel {
    width: 500px;
    height: 900px;
}

.img {
    float: left;
    width: 50%;
    height: 150px;
    margin: 5px;
    border-radius: 20%;
}

.carousel-caption h3 {
    color: blue;
    background-color: yellow;
    width: 15vh;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
}


/*blackpearlmagic19@gmail.com*/