@media only screen and (max-width: 600px) {
    body {
        background-image: url("test.jpg");
    }
    .header {
        display: none;
    }
    .navbar {
        justify-content: flex-start;
    }
    #sidebar {
        font-size: 10px;
        top: 20vh;
    }
    #sidebar a {
        font-size: 18px;
    }
    .wrapper h1 {
        display: none;
    }
    .main p {
        margin-top: -30vh;
        color: red;
    }
    .flex-box {
        display: inline;
        text-align: center;
    }
    .flex-item {
        font-size: 14px;
    }
    .flex-item img {
        display: inline;
        font-size: 8px;
    }
    .flex-item a {
        font-size: 14px;
    }
    .flex-item h3 {
        font-size: 14px;
        color: red;
    }
    .flex-item p {
        font-size: 14px;
    }
    .footer-contact {
        text-align: center;
        font-size: 10px;
    }
}