* {
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("back.jpg");
    background-size: cover;
    padding-bottom: 550px;
}

.header {
    text-align: center;
    margin-top: 0px;
    padding: 6px;
    overflow: auto;
    height: 100%;
}

.header h1 {
    color: blue;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: cursive;
}

.wrapper {
    display: block;
    font-size: 25px;
    margin: 20px;
}

.navbar {
    display: flex;
    background-color: #ff9900;
}

.navbar a {
    color: white;
    float: left;
    display: block;
    font-size: 25px;
    font-family: cursive;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: yellow;
    color: yellowgreen;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    position: fixed;
    top: 22vh;
    left: 0;
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

.sidebar-header h3 {
    color: whitesmoke;
    font-family: cursive;
    margin-top: 0;
}

.main {
    padding-bottom: 550px;
}

.main p {
    color: black;
    font-family: cursive;
    font: 1em sans-serif;
    font-size: 2vh;
    width: 50vh;
    height: 35vh;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.images img {
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
    height: auto;
    width: 12%;
    margin: auto;
}

p {
    color: black;
    font-family: cursive;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    padding: 0;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    border: 1px solid black;
    font-family: cursive;
    background-color: lightyellow;
    height: auto;
    margin: 0;
    padding: 0;
}

.footer-link {
    color: magenta;
}

.fa:hover {
    color: black;
    opacity: 0, 7;
}